body{
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 #search{
    background-color: transparent;
    color: white;
}
#searchBox{
    background-color: rgba(235,177,196, 0.5);
    border-radius: 3px;
}

label{
    color:white;
}

h1{
    font-family: 'Bungee Hairline', cursive;
    font-weight: 1000;
    font-size: 100px;
    border-radius: 3px;
    color: white;
}

.card-image{
    width: 200px;
    height: 200px;
}

.row .input-field input:focus {
    
    box-shadow: 0 1px 0 0 white !important
  }

  .waves-effect, .waves-white, .btn-flat{
      color: white;
  }